<!-- <p>footer works!</p> -->
<footer>
    <div class="social-icon">
      <span class="social-icon-span">
        <a href="https://www.facebook.com/">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
      </span>
      <span class="social-icon-span">
        <a href="https://www.instagram.com/">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </span>
      <span class="social-icon-span">
        <a href="https://twitter.com/">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
      </span>
      <span class="social-icon-span">
        <a href="https://www.youtube.com/">
          <i class="fab fa-youtube fa-2x"></i>
        </a>
      </span>
    </div>
    <div class="footer-div">
      <span class="footer-span">Copyright ©</span>
    </div>
  </footer>