<!-- <p>most-visited-hotels works!</p> -->
<div class="wrapper">
  <div class="hotels-info">
    <h1>The most visisted hotels:</h1>
    <div class="hotels-info-div">
        <h4>Glamping Georgia</h4>
        <p>
            არის ადგილი, სადაც ველური ბუნება ერწყმის კომფორტის ზონას. ეს იმას ნიშნავს, 
            რომ ახლა უკვე შესაძლებელია მაქსიმალურად კომფორტულად დაისვენოთ პირდაპირ შუაგულ ტყეში, ველურ ბუნებაში. 
            აქ ერთდროულად ხარ საოცრად ახლოს ბუნებასთან, და საოცრად ახლოს მდიდრულ და კომფორტულ დასვენებასთან.
        </p>
        <div class="hotels-info-img">
            <img src="https://firebasestorage.googleapis.com/v0/b/final-project-a0bb8.appspot.com/o/Glamping%20Georgia.PNG?alt=media&token=4285d567-0d67-459e-bba2-02809883251e">
        </div>
    </div>
    <div class="hotels-info-div">
        <h4>Glamping Georgia</h4>
      <p>
          არის ადგილი, სადაც ველური ბუნება ერწყმის კომფორტის ზონას. ეს იმას ნიშნავს, 
          რომ ახლა უკვე შესაძლებელია მაქსიმალურად კომფორტულად დაისვენოთ პირდაპირ შუაგულ ტყეში, ველურ ბუნებაში. 
          აქ ერთდროულად ხარ საოცრად ახლოს ბუნებასთან, და საოცრად ახლოს მდიდრულ და კომფორტულ დასვენებასთან.
      </p>
      <div class="hotels-info-img">
          <img src="https://firebasestorage.googleapis.com/v0/b/final-project-a0bb8.appspot.com/o/Glamping%20Georgia.PNG?alt=media&token=4285d567-0d67-459e-bba2-02809883251e">
      </div>
  </div>
  </div>
</div>
