<!-- <p>most-visited-places works!</p> -->
<div class="wrapper">
  <div class="places-info">
    <div class="places-info-div">
      <h1>The most visisted places:</h1>
      <h4>შაორის წყალსაცავი</h4>
      <p>
        რაჭის ერთ-ერთი მიმზიდველი ადგილია. ის უდიდესია
        რაჭა-ლეჩხუმსა და ქვემო სვანეთში. მდებარეობს ამბროლაურის მუნიციპალიტეტში,
        ზღვის დონიდან 1100-1200 მ-ზე. შაორი წლის ყველა სეზონზე ლამაზია, თუმცა
        შემოდგომასა და გაზაფხულზე აქ ზღაპრული სანახაობაა, სხვადასხვა ფერები
        არეკლილი ტბაში, ან კიდევ ახლად ამწვანებული გარემო ტბის ფონზე.
        დედაქალაქიდან მანძილი 275 კმ-ია, ამბროლაურიდან 20 კმ. და ბოლოს, ეს ის
        ადგილია, რომელიც აუცილებლად უნდა ნახოთ.
      </p>
      <div class="places-info-img">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/final-project-a0bb8.appspot.com/o/shaori.jpg?alt=media&token=f76fc97f-65e4-4cce-a12b-528e66d1ecc5"
        />
      </div>
    </div>
  </div>
</div>
