<!-- <p>news works!</p> -->
<div class="wrapper">
    <div class="info">     
      <h1>News:</h1>
        <h4>რაჭის შესახებ</h4>
        <p>
          რაჭა საქართველოს ისტორიულ-გეოგრაფიული მხარეა, რომელიც დასავლეთ საქართველოს ჩრდილო-აღმოსავლეთ ნაწილში მდებარეობს. 
          იგი ძალიან მდიდარია კულტურული ძეგლებითა და მრავალფეროვანი ბუნებით. რაჭაში მდებარეობს უხვი და დახვეწილი ჩუქურთმებით სახელგანთქმული, 
          ქართული ხუროთმოძღვრების შედევრი, ნიკორწმინდა. საინტერესო კულტურის ნიმუშების გარდა ამ მხარეში დატკბებით გრილი ტყეებით, 
          ალპური ტბებით, ულამაზესი ჩანჩქერებითა და მომნუსხველი ხედებით.
        </p>
        <h4>ისტორია</h4>
        <p>
          რაჭა დიდი ისტორიის მქონე მხარეა. ადამიანის ცხოვრების კვალი აქ ჯერ კიდევ ბრინჯაოს ხანაში დასტურდება. 
          ადრეულ პერიოდში რაჭა ლეჩხუმთან ერთად ქმნიდა თაკვერს. თაკვერი დამოწმებულია VII საუკუნის წყაროებში. 
          თაკვერს გამოეყო რაჭა და ეს სახელწოდება შემორჩა მხოლოდ ლეჩხუმს. X საუკუნის ბოლოს შეიქმნა რაჭის საერისთავო, 
          რომლის პირველი ერისთავი რატი ბაღვაში იყო. XIII საუკუნის 80-იან წლებში დავით ნარინმა გააუქმა საერისთავო და ეს 
          ტერიტორია სამეფო მამულებად გამოაცხადა. კახაბერისძეთა საგვარეულო, როგორც ჩანს, ამოწყდა. XIV საუკუნის 30-იან წლებში, 
          შემდგომში საერისთავოს აღდგენის შემდეგ ერისთავის ტიტულს ჭარელიძეთა, უფრო მოგვიანებით კი, 1488 წლიდან, ჩხეტიძეთა საგვარეულო ატარებდა. 
          XV საუკუნის მეორე ნახევარში საქართევლოს სამეფო-სათავროებად დაშლის შემდეგ რაჭის საერისთავო სამეგრელოს შემადგენლობაში შევიდა. 
          მეთხუთმეტე საუკუნის 30-იან წლებში იმერეთის მეფემ ბაგრატ მესამემ რაჭის ერისთავებს მინდაციხე-დარბაზი გადასცა და იმერეთის შექმნილი 
          სამეფოს ახლად შექმნილი სადროშოების, მასამო-რაჭის სადროშოს, სარდლობა ჩააბარა. XV-XVII საუკუნეების რაჭის საერისთაოში იმერეთის მეფეები 
          ფლობდნენ ყმა მამულს. 1789 წელს იმერეთში გამეფდა სოლომონ II, რომელმაც საბოლოოდ გაუქმა რაჭის საერისთავო. იმერეთის სამეფოს რუსეთის 
          იმპერიასთან შეერთების შემდეგ, რაჭის ტერიტორია ქმნიდა ჯერ ოკრუგს, შემდეგ - მაზრას. რაჭის მხარეს სხვადასხვა დროს განაგებდა რამდენიმე თავადური 
          საგვარეულო: წულუკიძე, იაშვილი, ჯაფარიძე, ინასარიძე, ლაშხისშვილი. დღესდღეობით რაჭა რაჭა-ლეჩხუმისა და ქვემო სვანეთის მხარის შემადგენლობაში 
          შედის.
        </p>
        <h4>რა ვნახოთ</h4>
        <p>
          რაჭაში მრავლადაა სხვადასხვა პერიოდის მნიშვნელოვანი კულტურული ძეგლები. აქ ნახავთ უხვი და დიდებული მორთულობებით შემკულ ტაძრებს, 
          საინტერესო ფრესკებს, ქართული ხუროთმოძღვრების გამორჩეულ ნიმუშებს, რომლებიც ჰარმონიულად ერწყმიან რაჭის ულამაზეს ბუნებას. სუფთა ჰაერი, 
          სიმწვანეში ჩაფლული ჩანჩქერები, კლდეებში კრისტალივით ჩაბნეული ალპური ტბები, მყინვარები და აყვავებული 
          მდელოები კი ნამდვილ სამოთხეს ქმნის და ხეტიალის მოყვარულებს გულგრილს არ დატოვებს.
        </p>
        <h4>ბუნება</h4>
        <ul>
          <li>უძირო ტბა</li>
          <li>სასვანოს ტბები</li>
          <li>მყინვარი ბუბა</li>
          <li>ზნაკვის ჩანჩქერი</li>
          <li>ბარეულის ჩანჩქერი</li>
          <li>აპანტის ჩანჩქერი</li>
          <li>მურადის მღვიმე</li>
          <li>საყინულე</li>
          <li>საეალიკეს მთა</li>
          <li>მთა ხიხათა</li>
        </ul>           
    </div>
  </div>
  