form{
    width: 30%;
    margin: 2em auto;
    h1{
        text-align: center;
        padding: 2em;
        text-transform: uppercase;
    }
    .form-group{
        padding: 1em;
        label{
            font-size: medium;
        }
        input{
            float: right;
            width: 60%;
            height: 25px;
            border: black 2px solid;
            &.ng-valid{
                background-color: rgb(101, 199, 132);
              }
              &.ng-invalid{
                background-color: rgb(233, 132, 128);
              }
        }
        button{
            height: 30px;
            background-color: rgb(44, 147, 56);
            font-size: medium;
        }
    }
}