<!-- <p>general-information-page works!</p> -->
<div class="main-div">
  <header>
    <div class="app-name">
      <h1>
        <a routerLink="/app-home">
          travel more
        </a>
      </h1>
    </div>
    <div class="right-nav">
      <ul class="right-nav-ul">
        <li class="right-nav-li">
            <a routerLink="/app-home">home</a>
        </li>
        <li class="right-nav-li">
            <a routerLink="/app-search">search</a>
        </li>
        <li class="right-nav-li">
            <a routerLink="/app-hotels-information">hotel information</a>
        </li>
        <li class="right-nav-li">
            <a routerLink="/app-booking">booking</a>
        </li>
        <li class="right-nav-li">
            <a routerLink="/app-booking-history">booking history</a>
        </li>
        <li class="right-nav-li">
            <a routerLink="/app-sign-in">sign in</a>
        </li>
        <li class="right-nav-li">
          <a routerLink="/app-admin">admin</a>
      </li>
      </ul>
    </div>
  </header>
  <section>
    <div class="main-content">
      <ul class="main-content-ul">
        <li class="main-content-li">
          <a routerLink="/app-most-visited-hotels">
            <span>The most visited hotels</span>
          </a>
        </li>
        <li class="main-content-li">
          <a routerLink="/app-most-visited-places">
            <span>The most visited places</span>
          </a>
        </li>
        <li class="main-content-li">
          <a routerLink="/app-news">
            <span>News</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
