<!-- <p>sign-in works!</p> -->
<form>
    <h1>Autorization Form</h1>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password">
    </div>
    <div class="form-group">
        <button type="button" routerLink="/app-home" [ngStyle]="{backgroundColor: '#38BA75'}">Log In</button>
        <button type="button" routerLink="/app-registration" [ngStyle]="{backgroundColor: '#38BAFC'}">Registration</button>
    </div>
</form>