<!-- <p>search works!</p> -->
<div class="wrapper">
  <div class="form-div">
    <form>
      <div class="form-group">
        <select>
          <option value="">Select Hotel Name</option>
        </select>
      </div>
      <div class="form-group">
        <select>
          <option value="">Select City</option>
        </select>
      </div>
      <div class="form-group">
        <select>
          <option value="">Select Hotel Address</option>
        </select>
      </div>
      <div class="form-group">
        <select>
          <option value="">Select Stars Qty</option>
        </select>
      </div>
      <div class="form-group">
        <select>
          <option value="">Select Rooms Qty</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" name="" id="" placeholder="Other" />
      </div>
      <div class="form-group">
        <button type="button">Search</button>
      </div>
    </form>
  </div>

  <div class="form-content">
      <h1>Search result:</h1>
      <ul class="form-content-ul">
          <li class="form-content-li">hotels list</li>
      </ul>
  </div>
</div>
