.home-page{
    position: relative;
    width: 100%;
    //background-image: url(https://firebasestorage.googleapis.com/v0/b/final-project-a0bb8.appspot.com/o/udziro.jpg?alt=media&token=2bd9d43b-dd57-49c1-bc3f-570d9d0adb5f);
span{
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 40px;
    text-transform: uppercase;
}
img{
    width: 100%;
}
}